<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"><!-- <suite name="Suite" parallel="classes"> -->
   <listeners>
    <listener class-name="com.lawlees.Listeners" />
    <listener class-name="resources.ExtentReporterNG" />
  </listeners>
  <test  name="VerifyLogin" ><!--   <test thread-count="5" name="Test" parallel="classes"> -->
    <classes>
      <class name="com.lawlees.VerifyLogin"/>
      </classes>
      </test>
     <test  name="validateHomepage" >
    <classes>
      <class name="com.lawlees.ValidateHomePage"/>
      </classes>
      </test>
</suite> <!-- Suite -->
